src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:espn="http://www.mulesoft.org/schema/mule/espn"
      xsi:schemaLocation="
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/espn http://www.mulesoft.org/schema/mule/espn/1.0-SNAPSHOT/mule-espn.xsd">

    <context:property-placeholder location="mule.properties"/>

    <espn:config apiKey="${apiKey}"/>

    <flow name="getListBaseballAthletes">
        <espn:get-list-baseball-athletes/>
    </flow>

    <flow name="getBaseballAthlete">
        <espn:get-baseball-athlete playerId="#[message.payload[playerId]]"/>
    </flow>

</mule>
