src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:espn="http://www.mulesoft.org/schema/mule/espn"
      xsi:schemaLocation="
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/espn http://www.mulesoft.org/schema/mule/espn/1.0-SNAPSHOT/mule-espn.xsd">

    <context:property-placeholder location="mule.properties"/>

    <espn:config apiKey="${apiKey}"/>

    <!-- ESPN Athletes API -->

    <flow name="getAthletes">
        <espn:get-athletes resource="#[message.payload[resource]]"/>
    </flow>

    <flow name="getAthletes_ByGroup">
        <espn:get-athletes resource="#[message.payload[resource]]" group="#[message.payload[group]]"/>
    </flow>

    <flow name="getAthletes_ByPlayerId">
        <espn:get-athletes resource="#[message.payload[resource]]" playerId="#[message.payload[playerId]]"/>
    </flow>

    <flow name="getAthletes_ByDates">
        <espn:get-athletes resource="#[message.payload[resource]]" playerId="#[message.payload[playerId]]" dates="#[message.payload[dates]]"/>
    </flow>

    <!-- ESPN Teams API -->

    <flow name="getTeams">
        <espn:get-teams resource="#[message.payload[resource]]"/>
    </flow>

    <flow name="getTeams_ByTeamId">
        <espn:get-teams resource="#[message.payload[resource]]" teamId="#[message.payload[teamId]]"/>
    </flow>

</mule>
